{% extends 'base.html'%}
{% block title %} {% endblock title%}

{% block css %}
 <!-- <link rel="stylesheet" href="/static/bootstrap/bootstrap.css">
 <link rel="stylesheet" href="/static/css/prince.css"> -->
{% endblock css %}
{% block body %}

{% endblock body%}

{% block titlepage %}
        <div id="title-fitness">
            <h1><span>S</span>TAY <span>F</span>IT</h1>
            <h1><span>S</span>TAY <span>H</span>EALTHY</h1>
         </div>
{% endblock titlepage %}
<!-- First Page -->
{% block first %}
<div class="first-page">
    <h1>OUR PROGRAMS</h1>
    <div class="row">
        <div class="col-md-4">
             <img src="/static/images/5.jpg">
             <h2>|</h2>
            <h2>Fitness</h2>
        </div>
        <div class="col-md-4">
            <img src="/static/images/1.jpg">
            <h2>|</h2>
            <h2>Bodybuilding</h2>
       </div>
       <div class="col-md-4">
        <img src="/static/images/7.jpg">
        <h2>|</h2>
        <h2>Weight Gaining</h2>
       </div>
    </div>
</div>
{% endblock first %}

{% block footer %}

{% endblock footer%}